head{
    color: red;
    font-size: 23px;
}
.footer{
    font: outline;
    z-index: 0.0009;
}
.corona{
    display:none;
    opacity:0;
    visibility: hidden;
    z-index: -99999;
}
head {
    color: red;
    font-size: 23px;
}
.cardiB {
    width: 100px;
}
.local {
    font: 12px;
}
